@page "/"

<div class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-1 columns is-vcentered is-centered">
          <div class="column has-text-centered">
            <h1 class="title is-2">This website is still being built</h1>
            <p class="subtitle is-4">Come back later</p>
          </div>
        </div>
        <div class="column is-4 is-offset-2">
          <figure class="image is-square">
            <img src="./icon.png" alt="Logo">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
