@import '../../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../../node_modules/bulma/sass/utilities/functions';

$spacing-shortcuts: ();

$navbar-height: 4rem;

$red: #b91d47;
$red-invert: findColorInvert($red);

$primary: $red;

@import '../../../node_modules/bulma/bulma';

$render-button-dividers: false;

#blazor-error-ui {
  display: none;
}

.logo {
  margin-right: 6px;
  max-height: none !important;
}

.iconify {
  font-size: 2em;
}

.format-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: sticky;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;

  padding-bottom: 0;
  padding-right: 1rem;

  $mask-image: linear-gradient(90deg, transparent 3.5rem, white 2rem), linear-gradient(transparent 0, black 0.75rem);
  mask-image: $mask-image;
  -webkit-mask-image: $mask-image;
}

.scroll-fix {
  margin-bottom: 0;

  &::after {
    height: $column-gap;
    width: 100%;
    flex: 0 0 $column-gap;
    content: "";
    display: block;
  }
}

.content {
  outline: none;

  & > blockquote, pre {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.content-container {
  min-width: 1px;
}

.buttons-divider {
  display: if($render-button-dividers, block, none);
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.output-column {
  max-width: 50%;
}

@import 'prism';
