@page "/editor"
@using Markdraw.Tree
@using System.Threading.Tasks;
@inject HttpClient Http


@code {
  private string markdown = "";
  private MarkupString content = (MarkupString)"<p>Loading...</p>";
  public string Markdown {
    get => markdown;
    set {
      markdown = value;
      content = (MarkupString)DeltaTree.Parse(markdown).ToString();
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var url = "https://raw.githubusercontent.com/jonathanjameswatson/markdraw/main/sample.md";
    Markdown = await Http.GetStringAsync(url);
  }
}


<div class="section">
  <div class="container">
    <div class="field">
      <label class="label">Markdown</label>
      <p class="control">
        <textarea class="textarea" rows="1" placeholder="Input markdown" @bind="Markdown"></textarea>
      </p>
    </div>
    <hr />
    <div class="columns is-mobile">
      <div class="column is-narrow format-buttons">
        <FormatButton icon="format-bold"></FormatButton>
        <FormatButton icon="format-italic"></FormatButton>
        <FormatButton icon="code-tags"></FormatButton>
        <FormatButton icon="link"></FormatButton>
        <hr />
        <FormatButton icon="format-quote-close"></FormatButton>
        <FormatButton icon="format-list-bulleted"></FormatButton>
        <FormatButton icon="format-list-numbered"></FormatButton>
        <hr />
        <FormatButton icon="format-clear"></FormatButton>
        <hr />
        <FormatButton icon="image"></FormatButton>
        <FormatButton icon="minus"></FormatButton>
        <FormatButton icon="code-not-equal-variant"></FormatButton>
      </div>

      <div class="column content-container">
        <div class="content" contenteditable="">
          @content
        </div>
      </div>
    </div>
  </div>
</div>
