@page "/editor"
@using Markdraw.Tree
@using System.Threading.Tasks;
@inject HttpClient Http


@code {
  public MarkupString content = (MarkupString)"<p>Loading...</p>";
  protected override async Task OnInitializedAsync()
  {
    var url = "https://raw.githubusercontent.com/jonathanjameswatson/markdraw/main/sample.md";
    var urlContents = await Http.GetStringAsync(url);
    content = (MarkupString)DeltaTree.Parse(urlContents).ToString();
  }
}


<div class="section">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-narrow format-buttons">
        <FormatButton icon="format-bold"></FormatButton>
        <FormatButton icon="format-italic"></FormatButton>
        <FormatButton icon="code-tags"></FormatButton>
        <FormatButton icon="link"></FormatButton>
        <hr />
        <FormatButton icon="format-quote-close"></FormatButton>
        <FormatButton icon="format-list-bulleted"></FormatButton>
        <FormatButton icon="format-list-numbered"></FormatButton>
        <hr />
        <FormatButton icon="format-clear"></FormatButton>
        <hr />
        <FormatButton icon="image"></FormatButton>
        <FormatButton icon="minus"></FormatButton>
        <FormatButton icon="code-not-equal-variant"></FormatButton>
      </div>

      <div class="column content-container">
        <div class="content" contenteditable="">
          @content
        </div>
      </div>
    </div>
  </div>
</div>
