@page "/"
@using Markdraw.Tree
@using System.Threading.Tasks;
@inject HttpClient Http;

@code {
  private string markdown = "";
  private string content = "<p>Loading...</p>";
  public string Markdown {
    get => markdown;
    set {
      markdown = value;
      content = DeltaTree.Parse(markdown).ToString();
    }
  }

  protected override async Task OnInitializedAsync()
  {
    var url = "https://raw.githubusercontent.com/jonathanjameswatson/markdraw/main/sample.md";
    Markdown = await Http.GetStringAsync(url);
  }
}

<div>
  <NavBar @bind-ImportMarkdown="Markdown"></NavBar>

  <div class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-narrow format-buttons">
          <FormatButton icon="format-bold"></FormatButton>
          <FormatButton icon="format-italic"></FormatButton>
          <FormatButton icon="code-tags"></FormatButton>
          <FormatButton icon="link"></FormatButton>
          <hr />
          <FormatButton icon="format-quote-close"></FormatButton>
          <FormatButton icon="format-list-bulleted"></FormatButton>
          <FormatButton icon="format-list-numbered"></FormatButton>
          <hr />
          <FormatButton icon="format-clear"></FormatButton>
          <hr />
          <FormatButton icon="image"></FormatButton>
          <FormatButton icon="minus"></FormatButton>
          <FormatButton icon="code-not-equal-variant"></FormatButton>
        </div>

        <div class="column content-container">
          <Editor Content="@content"></Editor>
        </div>
      </div>
    </div>
  </div>
</div>