@page "/"
@using Markdraw.Delta;
@using Markdraw.Tree;
@using System.Threading.Tasks;
@inject HttpClient Http;
@inject IJSRuntime JS;

@code {
  private string markdown = "";
  private string content = "<p>Loading...</p>";
  private DeltaTree deltaTree;
  private int x = 1;
  private Editor editor;

  public string Markdown {
    get => markdown;
    set {
      markdown = value;
      deltaTree.SetWithMarkdown(markdown);
      content = deltaTree.Root.ToString();
    }
  }

  public void InsertLetter() {
    deltaTree.Delta = deltaTree.Delta.Transform(new Ops().Retain(x).Insert("COOL "));
    content = deltaTree.Root.ToString();
  }

  protected override async Task OnInitializedAsync()
  {
    deltaTree = new DeltaTree(markdown);
    var url = "https://raw.githubusercontent.com/jonathanjameswatson/markdraw/main/sample.md";
    Markdown = await Http.GetStringAsync(url);
  }

  public class Cursor
  {
    public int start { get; set; }
    public int end { get; set; }
  }

  public async Task<Cursor> GetCursor() {
    return await JS.InvokeAsync<Cursor>("getCursor");
  }

  public async Task Bold()
  {
    var cursorPos = await GetCursor();
    var transformation = new Ops();

    Console.WriteLine($"start: {cursorPos.start}, end: {cursorPos.end}");

    if (cursorPos.start > 0) {
      transformation.Retain(cursorPos.start);
    }

    if (cursorPos.end - cursorPos.start != 0) {
      transformation.Retain(cursorPos.end - cursorPos.start, new TextFormat(true, null, null));
    }

    deltaTree.Delta = deltaTree.Delta.Transform(transformation);
    content = deltaTree.Root.ToString();
  }
}

<div>
  <NavBar @bind-ImportMarkdown="Markdown"></NavBar>

  <div class="section">
    <div class="container">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="number" @bind="x" />
        </p>
        <p class="control">
          <button class="button is-danger" @onclick="InsertLetter">Test button</button>
        </p>
      </div>
      <br />
      <br />
      <div class="columns is-mobile">
        <div class="column is-narrow format-buttons">
          <FormatButton icon="format-bold" @onclick="Bold"></FormatButton>
          <FormatButton icon="format-italic" Disabled></FormatButton>
          <FormatButton icon="code-tags" Disabled></FormatButton>
          <FormatButton icon="link" Disabled></FormatButton>
          <hr />
          <FormatButton icon="format-quote-close" Disabled></FormatButton>
          <FormatButton icon="format-list-bulleted" Disabled></FormatButton>
          <FormatButton icon="format-list-numbered" Disabled></FormatButton>
          <hr />
          <FormatButton icon="format-clear" Disabled></FormatButton>
          <hr />
          <FormatButton icon="image" Disabled></FormatButton>
          <FormatButton icon="minus" Disabled></FormatButton>
          <FormatButton icon="code-not-equal-variant" Disabled></FormatButton>
        </div>

        <div class="column content-container">
          <Editor Content="@content" @ref="editor"></Editor>
        </div>
      </div>
    </div>
  </div>
</div>
