@page "/"
@layout EmptyLayout

<div>
  <NavBar @bind-ImportMarkdown="Markdown" ExportMarkdown="ExportMarkdown" ModalsAvailable="true"/>

  <div class="modal@(_modal != ModalOpen.None ? " is-active" : "")">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        @switch (_modal)
        {
          case ModalOpen.Link:
            <div class="field">
              <label class="label">Link address</label>
              <p class="control">
                <input class="input" type="text" @bind="_modalLink">
              </p>
            </div>
            <div class="buttons">
              <button class="button" @onclick="SetLink">
                Set link
              </button>
              <button class="button" @onclick="Close">
                Close
              </button>
            </div>
            break;
          case ModalOpen.Image:
            <div class="field">
              <label class="label">Image address</label>
              <p class="control">
                <input class="input" type="text" @bind="_modalImageUrl">
              </p>
            </div>
            <div class="field">
              <label class="label">Alternative text</label>
              <p class="control">
                <input class="input" type="text" @bind="_modalImageAlt">
              </p>
            </div>
            <div class="buttons">
              <button class="button" @onclick="AddImage">
                Insert image
              </button>
              <button class="button" @onclick="Close">
                Close
              </button>
            </div>
            break;
          case ModalOpen.Code:
            <div class="field">
              <label class="label">Language</label>
              <p class="control">
                <input class="input" type="text" @bind="_modalCodeLanguage">
              </p>
            </div>
            <div class="field">
              <label class="label">Code</label>
              <p class="control">
                <textarea class="textarea" @bind="_modalCodeContents"></textarea>
              </p>
            </div>
            <div class="buttons">
              <button class="button" @onclick="AddCode">
                Insert code
              </button>
              <button class="button" @onclick="Close">
                Close
              </button>
            </div>
            break;
          case ModalOpen.None:
            break;
          default:
            throw new ArgumentOutOfRangeException();
        }
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @onclick="Close"></button>
  </div>

  <div class="section no-padding-bottom">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-narrow format-buttons">
          <FormatButton icon="format-bold" EnabledClickCallback="Bold"/>
          <FormatButton icon="format-italic" EnabledClickCallback="Italic"/>
          <FormatButton icon="code-tags" EnabledClickCallback="Code"/>
          <FormatButton icon="link" EnabledClickCallback="Link"/>
          <hr class="buttons-divider"/>
          <FormatButton icon="format-quote-close" EnabledClickCallback="Quote"/>
          <FormatButton icon="format-list-bulleted" EnabledClickCallback="Bullet"/>
          <FormatButton icon="format-list-numbered" EnabledClickCallback="Number"/>
          <hr class="buttons-divider"/>
          <FormatButton icon="format-clear" EnabledClickCallback="Clear"/>
          <FormatButton icon="format-horizontal-align-left" EnabledClickCallback="ClearLine"/>
          <hr class="buttons-divider"/>
          <FormatButton icon="format-font-size-increase" EnabledClickCallback="HeaderUp"/>
          <FormatButton icon="format-font-size-decrease" EnabledClickCallback="HeaderDown"/>
          <hr class="buttons-divider"/>
          <FormatButton icon="image" EnabledClickCallback="Image"/>
          <FormatButton icon="minus" EnabledClickCallback="Divider"/>
          <FormatButton icon="code-not-equal-variant" EnabledClickCallback="CodeBlock" ScrollFix="true"/>
        </div>

        <div class="column content-container">
          <Editor Content="@_content" @ref="_editor"/>
        </div>
      </div>
    </div>
  </div>
</div>