@page "/Parser"

@inject IJSRuntime _js;

<div class="container">
  <div class="columns">
    <div class="column is-half">
      <h1 class="title">
        Input
      </h1>
      <textarea rows="25" class="textarea is-family-monospace" @bind="Input" @bind:event="oninput"></textarea>
    </div>
    <div class="column is-half">
      <h1 class="title">
        Output
      </h1>
      <Tabs>
        <TabPage Text="Preview">
          <div class="content">
            @((MarkupString)_markdrawHtml)
          </div>
        </TabPage>
        <TabPage Text="Markdraw HTML">
          <div class="content">
            <pre class="language-html">
<code>
@((MarkupString)_highlightedMarkdrawHtml)
</code>
</pre>
          </div>
        </TabPage>
        <TabPage Text="Markdig HTML">
          <div class="content">
            <pre class="language-html">
<code>
@((MarkupString)_highlightedMarkdigHtml)
</code>
</pre>
          </div>
        </TabPage>
        <TabPage Text="DeltaTree">
          <Inspector BaseObject="_deltaTree"/>
        </TabPage>
        <TabPage Text="Markdig AST">
          <Inspector BaseObject="_markdigAst"/>
        </TabPage>
      </Tabs>
    </div>
  </div>
</div>
