<div class="field@(ScrollFix ? " scroll-fix" : "")">
  <Button disabled="@Disabled" EnabledClickCallback="EnabledClickCallback">
    <span class="icon is-small">
      <i class="iconify" data-icon="mdi-@(Icon ?? "help")"></i>
    </span>
  </Button>
</div>