<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="." @ref="_navbarLogo">
        <Logo GetHoverElement="() => _navbarLogo"></Logo>
        <b>Markdraw</b>
      </a>

      <a role="button" class="navbar-burger@(_active ? " is-active" : "")" aria-label="menu" aria-expanded="@(_active)" @onclick="ToggleActive">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu@(_active ? " is-active" : "")">
      <div class="navbar-start">
        <NavLink class="navbar-item" href="/">
          Editor
        </NavLink>
        <NavLink class="navbar-item" href="/parser">
          Parser
        </NavLink>
        <a class="navbar-item" href="https://github.com/jonathanjameswatson/markdraw">
          GitHub
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <Button Disabled="@(!ModalsAvailable)" EnabledClickCallback="Import">
              Import
            </Button>
            <Button Disabled="@(!ModalsAvailable)" EnabledClickCallback="Export">
              Export
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal@(_modal != ModalOpen.Neither ? " is-active" : "")">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        @switch (_modal)
        {
          case ModalOpen.Import:
            <div class="field">
              <label class="label">Markdown</label>
              <p class="control">
                <textarea class="textarea" placeholder="Input markdown" @bind="_temporaryMarkdown"></textarea>
              </p>
            </div>
            <div class="buttons">
              <Button EnabledClickCallback="SetMarkdown">
                Import and close
              </Button>
              <Button EnabledClickCallback="Close">
                Close
              </Button>
            </div>
            break;
          case ModalOpen.Export:
            <div class="field">
              <label class="label">Markdown</label>
              <p class="control">
                <textarea class="textarea" @bind="_exportMarkdown" readonly></textarea>
              </p>
            </div>
            <div class="buttons">
              <Button EnabledClickCallback="Close">
                Close
              </Button>
            </div>
            break;
          case ModalOpen.Neither:
            break;
          default:
            throw new ArgumentOutOfRangeException();
        }
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @onclick="Close"></button>
  </div>
</nav>